@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@section SomeSection
{
    <h1>I am part of a section</h1>
    <h1>Me too</h1>
}


@section MenuItems
{
    <li><a href="http://maps.google.com/">Maps</a></li>
}
