@{
    ViewData["Title"] = "Home Page";
}
<main class="mt-3 container-fluid">
    <div class="jumbotron bg-eventures text-center">
        @if (!User.IsInRole("Admin"))
        {
            <h3 class="text-black mb-2">Welcome, @User.Identity.Name</h3>
        }
        else
        {
            <h3 class="text-black mb-2">Greetings, Administrator @User.Identity.Name !</h3>
        }

            <hr class="hr-2 hr-index" />
        @if (User.IsInRole("Admin"))
        {
            <h3 class="text-index mb-2">Enjoy your work.</h3>
        }
        else
        {
            <h3 class="text-index mb-2">Eventures wishes you an exciting experience</h3>
        }
    </div>
</main>
