@model FluffyDuffyMunchkinCats.Models.ViewModels.CatDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<h1>@Model.Name</h1>
<img src="@Model.ImageUrl" />
<h3>Age: @Model.Age</h3>
<h3>Age: @Model.Breed</h3>


