
@{
    ViewData["Title"] = "_DateTimePartial";
}

<div>
    <div>
        Year: @Model.Year
    </div>
    <div>
        Month: @Model.Month
    </div>
    <div>
        Day: @Model.Day
    </div>
</div>